body {
    display: block;

    > header {
        padding: 2rem 1rem;
    }
}

main {
    height: initial;
    padding: 1rem;

    display: grid;
    gap: 2rem;

    overflow-y: auto;
}

.component {
    border: 1px solid var(--color-border);
    border-radius: var(--radius);

    > .name {
        margin: 0;
        padding: 1rem;
        padding-bottom: 0;
        
        font-size: 1.1rem;
    }

    > .variant {
        margin: 0;
        padding-inline: 1rem;
        padding-block: var(--margin-sm) 0;

        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        color: var(--color-text-muted);
    }
    
    > .demo {
        margin-top: 1rem;
        padding: 2rem;
    
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;

        border-top: 1px solid var(--color-border);

        &.border > * {
            border: 1px solid var(--color-border);
        }

        &.full-width > * {
            flex: 1;
        }

        &.full-height {
            align-items: stretch;
        }
    }
    
    > .code {
        margin: 0;
        padding: 1rem;

        background: #111;
        border-top: 1px solid var(--color-border);
        color: #abb2bf;
    }
}

.typography * { 
    margin: 0;
    padding: 1rem 0;
}

.brand {
    max-width: unset;
}